/* Define margens do header, com data, hora e botão de configurações */
#header {
    margin-bottom: 4vh;
}

/* Define margens do div de status, com imagem e legendas */
#status {
    margin-bottom: 10vh;
}

/* Define margens e padding para cada card de estufa */
.greenhouse-card {
    margin-bottom: 3%;
    margin-right: 1%;
    margin-left: 0;
    padding: 0;
}

/* Remove estilização de links */
a {
    color: black;
    text-decoration: none;
}